html {
    background-color: #c7f9cc;
}

h1 {
    text-align: center;
    color: #f6fff8;
    background-color: #6b9080;
    text-decoration: darkgrey underline;
    font-size: 35px;
    /* size of text */
}
h1::selection{
    background-color: #e2fdff;
}
hover{
    margin-left: 3s;
}
/* ::selection - applies to parts of elements that are being highlighted by the user; */
/* h1::first-letter {
    color:navy;
}
:: first leter - pseudo element - applies only to first letter of h1 */

button {
    color: white;
    font-weight: bold;
    background-color: #22577a;
    border-style: solid;
    border-radius: 3px;
    padding: 5px;
}

button:hover {
    color: black;
    font-weight: bold;
    background-color: #ffca3a;
}

/* hover: changes will be applied when selected element is "hovered" over by the user */
button:active {
    color: white;
    font-weight: bold;
    background-color: #22577a;
}

/* active: changes will be applied when selected element is activated */
p {
    text-align: center;
}

input[type="password"] {
    color: #354f52;
}

/* applies to button with type="password" */

/* p:nth-of-type(2n){
    color:navy;
}
#button {
    text-align: center;
}
:ntn-of-type - psuedo class - applies to every other p element. */
input{
    border: solid 3px #6096ba;
    border-radius: 3px;
}
